@model IEnumerable<FindMyPlace.Models.Inmueble>

@{
    ViewBag.Title = "Home Page";
}
<style>
    #map{
        height:300px
    }
</style>
<div class="container-fluid">
    <div class="container">
        <h1 class="modal-title">Find My Place</h1>
        <p class="lead">El lugar donde encontrarás la mejor vivienda</p>
    </div>
    <div id="map"></div>
</div>

<div class="container row">
    <div class="col-md-4">
        <img class="img-thumbnail" src="~/Content/apartamento.jpg" />
    </div>
    <div class="col-md-4">
        <img class="img-thumbnail" src="~/Content/casa_prefabricada.jpg" />
    </div>
    <div class="col-md-4">
        <img class="img-thumbnail" src="~/Content/casa.jpg" />
    </div>
</div>

<script>
    var map;
    var marker

    function initMap() {
        var lat = 18.4735048;
        var lng = -69.9158525

        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: lat, lng: lng },
            zoom: 13
        });

        marker = new google.maps.Marker({
            position: { lat: lat, lng: lng },
            map: map,
            animation:google.maps.Animation.DROP
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsCBz6lI00qX1Hf3SIL2XVdX_mT0asYB4&callback=initMap"
        async defer></script>
